################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/infragistics-wpf-workshop-jp2/v16/.suo
