################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/infragistics-wpf-workshop-jp2/v16/.suo
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Debug/App.g.cs
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Debug
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/Pivot.g.cs
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/MainWindow.g.cs
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/IgWpfWorkshop_MarkupCompile.lref
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/IgWpfWorkshop_MarkupCompile.cache
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/IgWpfWorkshop.csproj.CoreCompileInputs.cache
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/GeneratedInternalTypeHelper.g.cs
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/Dashboard.g.cs
/src/01-Before/IgWpfWorkshop/IgWpfWorkshop/obj/Release/App.g.cs
/src/02-After/IgWpfWorkshop/.vs/IgWpfWorkshop/v16/Server/sqlite3
/src/02-After/IgWpfWorkshop/.vs/IgWpfWorkshop/v16/.suo
/src/02-After/IgWpfWorkshop/IgWpfWorkshop/backup
/src/02-After/IgWpfWorkshop/IgWpfWorkshop/bin/Debug
/src/02-After/IgWpfWorkshop/IgWpfWorkshop/obj
/src/02-After/IgWpfWorkshop/packages
